<div class="card">
  <div class="card-body table-view">
    <% if params[:type].to_i == 1 %>
      <div><label style="font-size: 40px;">Add Bill</lable></div>
      <br><br>
    <% elsif params[:type].to_i == 2 %>
      <div><label style="font-size: 40px;">Edit Bill</lable></div>
      <br><br>
    <% elsif params[:type].to_i == 3 %>
      <div><label style="font-size: 40px;">View Bill</lable></div>
      <br><br>
    <%end%>
    <%= render 'form' %>
  </div>
</div>